.artist-comp {
    background-color: #0000009f;
    width: 155px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    /* Center the content vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
  }
  
.m-artist-comp{
    background-color: #0000009f;
    max-width: 110px;
    width: 110px;
    margin: 5px;
    padding: -5%;
    text-align: center;
    display:grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    border-radius: 5%;
}; 
.artist-comp-content {
    font-size: 15px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.m-artist-comp-content{
    font-size: 1em;
    display:flex;
    flex-direction: column;
    align-items: center;
};  
.artist-desc{
    margin-left: 45px;
}
.m-artist-desc{
    margin-left: 45px;
}
.link {
    color: inherit;
    text-decoration: none;
  }
.link:hover {
    text-decoration: none;
    color: inherit;
  }
.artist-art{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.m-artist-art{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.artist-comp-page {
  position: absolute;
  top: 140px;
  background-color: #0000009f;
  width: 97%;
  height: auto;
  margin: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.m-artist-comp-page{
  position: absolute;
  top: 75px;
  margin-bottom: 40px;
  margin-top: 25px;
  background-color: #0000009f;
  width: 94%;
  height: auto;
  padding: 10px;
  font-size: 1.4em;
}
.artist-comp-content-page {
  background-color: #38227441;
  font-size: 15px;
  display: flex; 
  align-items: left;
  display: flex;
  flex-direction: column;
}
.m-artist-comp-content-page{
  background-color: #38227441;
  width: 100%;
  font-size: 0.7em;
  align-items: left;
  margin-left: 120;
}
.artist-desc-page{
  font-size: 1em;
  margin-top: 220px;
  position: absolute;
  margin-left: 272px;
  max-width: 60%;
}
.m-artist-desc-page{
  font-size: 1em;
  margin-top: 145px;
  position: absolute;
  margin-left: 120px;
}
#artist-art-page{
  position: absolute;
  left: 0px;
  margin-top: 220px;
  margin-left: 50px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
#m-artist-art-page{
  position: absolute;
  left: 0px;
  margin-top: 155px;
  margin-left: 5px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.p-endpage{
  font-size: 0.85em;
  margin-top: 65%;
  margin-bottom: 200px;
}
.m-p-endpage{
  margin-top: 100%;
  font-size: 0.5em; 
  margin-bottom: 100px;
}
.episode-art{
  border-radius: 10%;
  width: 200px;
  height: 200px;
  margin-left: 30px;

}
.episode{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 500px;
  left:20px;
  margin-bottom: 50px;
  width: 93%;
  background-color: #0000005d;
  border-radius: 5%;
}
.m-episode-art{
  border-radius: 10%;
  width: 100px;
  height: 100px;
  margin-left: 10px;

}
.m-episode{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left:10px;
  top:270px;
  width: 90%;
  background-color: #0000005d;
}
.episode-desc{
  margin-left: 250px;
  position: relative;
  bottom: 200px;
  max-width: fit-content;
}
.m-episode-desc{
  margin-left: 120px;
  position: relative;
  bottom: 110px;
  max-width: fit-content;
  font-size: 0.6em;
}
#episode-title{
  margin-left: 35px;
}
#m-episode-title{
  margin-left: 10px;
  font-size: 0.8em;
}
.p-search-bar{
  position: absolute;
  left:200px;
  top:160px;
}
.m-p-search-bar{
  position: absolute;
  left:175px;
  top:140px;
}